{deps, [
    {b64url, ".*",
        {git,"https://github.com/apache/couchdb-b64url",
            {branch, "master"}}},
    {couch_event, ".*",
        {git,"https://github.com/strmpnk/couchdb-event",
            {branch, "master"}}},
    {couch_log, ".*",
        {git, "https://github.com/strmpnk/couchdb-log",
            {branch, "master"}}},
    {couch_stats, ".*",
        {git, "https://github.com/strmpnk/couchdb-stats",
            {branch, "master"}}},
    {ibrowse, ".*",
        {git,"https://github.com/strmpnk/couchdb-ibrowse",
            {branch, "master"}}},
    {jiffy, ".*",
        {git,"https://github.com/davisp/jiffy",
            {branch, "master"}}},
    {mochiweb, ".*",
        {git,"https://github.com/strmpnk/couchdb-mochiweb",
            {branch, "master"}}},
    {oauth, ".*",
        {git,"https://github.com/strmpnk/couchdb-oauth",
            {branch, "master"}}}
]}.
