{deps, [
    {b64url, ".*",
        {git,"https://github.com/davisp/b64url",
            {branch, "master"}}},
    {jiffy, ".*",
        {git,"https://github.com/davisp/jiffy",
            {branch, "master"}}},
    {mochiweb, ".*",
        {git,"https://github.com/strmpnk/couchdb-mochiweb",
            {branch, "master"}}},
    {oauth, ".*",
        {git,"https://github.com/strmpnk/couchdb-oauth",
            {branch, "master"}}}
]}.
